/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;700&display=swap');

/* common shared style */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
img {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container-hero {
    max-width: 1440px;
    margin: auto;
}

.container {
    max-width: 1045px;
    margin: auto;
}

/* nav related style */
.header {
    background-color: #FFF2F3;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li a {
    color: #737373;
    font-size: 14px;
}

.logo-tittle {
    color: #252B42;
    font-size: 24px;
}

.logo {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

.logo ul {
    display: flex;
}

.logo a {
    text-decoration: none;
}

.logo ul li {
    list-style: none;
    margin-right: 21px;
}

.log-in {
    text-decoration: none;
    color: #96BB7C;
    margin-right: 25px;
    font-size: 14px;
    font-weight: bold;
}

.primary-btn {
    color: #FFFFFF;
    background-color: #96BB7C;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
}

.primary-btn i {
    padding-right: 12px;
}

.learning {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.hero {
    padding-top: 148px;
}

.common-tittle {
    color: #96BB7C;
    font-size: 16px;
}

.nav-tittle {
    color: #252B42;
    font-size: 48px;
    text-transform: capitalize;
    max-width: 542px;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
}

.hero-description {
    color: #737373;
    font-size: 20px;
    max-width: 338px;
    padding-bottom: 30px;
}

.secondary-btn {
    color: #96BB7C;
    background-color: #FFF2F3;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #96BB7C;
    border-radius: 5px;
    padding: 15px 40px;
}

/* main related style */

.info {
    display: flex;
    margin-top: 160px;
}

.package-tittle {
    color: #252B42;
    font-size: 40px;
    font-weight: bold;
    max-width: 446px;
    /* border-top: 5px solid #E74040; */
    padding-top: 35px;
    padding-bottom: 35px;
    margin: auto;
    position: relative;
}

.package-tittle::before {
    content: "";
    background: #E74040;
    position: absolute;
    height: 7px;
    width: 94px;
    top: 0;
}


.Packages-description {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    max-width: 345px;
    padding-bottom: 35px;
}

.Learn {
    color: #96BB7C;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.blackboards-img {
    background-color: #96BB7C;
    padding: 22px 19px;
}



.info-tittle {
    color: #252B42;
    font-size: 16px;
    font-weight: bold;
    border-top: #E74040;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.info-tittle::after {
    content: "";
    background: #E74040;
    position: absolute;
    height: 2px;
    width: 50px;
    bottom: 0;
    left: 0;
}

.info-description {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    max-width: 132px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 0px #e4e4e4;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 30px;
}

.item-info {
    display: flex;
    gap: 20px;
}

.Packages {
    margin-right: 30px;
}

.action {
    display: flex;
    margin-top: 160px;
    align-items: center;
}

.video {
    padding-left: 144px;
}

.practice {
    margin-top: 160px;
}

.advice-tittle {
    color: #252B42;
    font-size: 40px;
    font-weight: bold;
}

.advice-description {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    max-width: 463px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 96px;
}

.sale-info {
    padding-bottom: 24px;
}

.sale-list {
    display: flex;
    gap: 10px;
    /* max-width: 209px;
    width: 100%;
    /* background-repeat: no-repeat; */
}

.sale-icon-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("../image/product-cover-233\ sec-.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 209px;
}

.sale-icon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("../image/product-cover-232\ sec-.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 209px;
}


.sale-tittle {
    color: #e4e4e4;
    font-size: 14px;
    font-weight: bold;
    background: #E74040;
    max-width: 52px;
    height: 24px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.diffarent-icon {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-bottom: 25px;
}

.fa-regular,
.fa-heart,
.fa-solid,
.fa-cart-shopping {
    background: #FFFFFF;
    border-radius: 44.79px;
    max-width: 40px;
    padding: 10px;
    margin-right: 10px;
}

.common-tittle,
.tittle {
    padding-top: 25px;
}

.courses-tittle {
    color: #252B42;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.courses-description {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    max-width: 242px;
}

.down {
    color: #737373;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

.price-list {
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
}

.price-icon {
    color: #FFAB71;
}

.learning-btn {
    color: #96BB7C;
    background: #FFFFFF;
    border: 1px solid #96BB7C;
    border-radius: 37px;
    padding: 10px 20px 10px;
    padding-top: 10px;
}

.watch {
    margin-top: 160px;
}

.watch-tittle {
    color: #252B42;
    font-size: 40px;
    font-weight: bold;
}

.watch-description {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    max-width: 463px;
}

.help {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 96px;
    text-align: center;
}

.img-description {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    max-width: 320px;
    margin: auto;
    padding-top: 30px;
}

.star-icon {
    color: #F3CD03;
    margin-top: 15px;
}

.img-tittle {
    color: #252B42;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.skill-tittle {
    color: #737373;
    font-size: 14px;
    font-weight: bold;
}

.quality {
    margin-top: 160px;
}

.quality-tittle {
    color: #252B42;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.quality-description {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    max-width: 463px;
}

.person-work {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 126px;
    gap: 24px;
}

.user {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.person-img {
    box-shadow: 0px 10px #e4e4e4;
    border-radius: 20px;
}

.try {
    text-align: center;
}

.person-tittle {
    color: #252B42;
    font-size: 16px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
}

.person-img-tittle {
    color: #96BB7C;
    font-size: 14px;
    font-weight: 400px;
    padding-bottom: 10px;
}

.kind-of-icon {
    color: #96BB7C;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 24;
}

/* responsive media query */
/* mobile devices */
@media screen and (max-width: 576px) {

    nav,
    .logo,
    .info,
    .ul-list,
    .item-info,
    .action {
        flex-direction: column;
    }

    .learning,
    .help,
    .person-work {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero,
    .Packages,
    .video,
    .advice,
    .our,
    .education {
        text-align: center;
    }

    .hero-description,
    .nav-tittle,
    .Packages-description,
    .package-tittle {
        margin: auto;
    }

    .package-tittle::before {
        height: 3px;
        left: 50%;
        transform: translateX(-50%);
    }

    .package-tittle,
    .Packages-description {
        padding-left: 5px;
    }

    .nav-tittle {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .package-tittle {
        font-size: 30px;
    }

    .item-info {
        align-items: center;
    }

    .video {
        padding-left: 0px;
        padding-top: 20px;
    }

    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .sale-list {
        margin-top: 10px;
    }

    img {
        max-width: 100%;
    }

}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    img {
        max-width: 100%;
    }

    .hero {
        padding-top: 60px;
        padding-left: 10px;
    }

    .Packages,
    .advice,
    .our,
    .education {
        padding-left: 10px;
    }

    .nav-tittle,
    .package-tittle {
        font-size: 30px;
    }

    .item-info {
        padding-right: 10px;
        gap: 15px;
    }

    .package-tittle::before {
        height: 4px;
    }
}